<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<main class="content" layout:fragment="content">

    <div class="container">
        <h1>Panel administratora</h1>
        <hr>
        <ul>
            <li th:each="user:${users}" th:object="${user}">
                <h2 class = "showtracker-title" th:text="*{userName}"></h2>
                <div class="row">
                    <div class="col-4">
                        <ul class="description" style="display: flex; font-size: 20px;">
                            <li style="margin-right: 6px; font-style: italic;" th:each="role:${user.roles}">
                                <p th:text="|${role.toString()}|"></p>
                            </li>
                        </ul>

                    </div>
                    <div class="col-4">
                        <div th:if="${#lists.contains(user.getRoles(), admin)}">
                            <p>
                                <a class="details-link" th:href="@{|/admin/users/${user.id}/degrade/|}"> <i class="fas fa-eraser"></i> Zabierz admina </a>
                            </p>
                        </div>
                        <div th:unless="${#lists.contains(user.getRoles(), admin)}">
                            <p>
                                <a class="details-link" th:href="@{|/admin/users/${user.id}/promote|}"> <i class="fas fa-mask"></i> Daj admina</a>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="row m-3">
                    <div class="col-8">
                        <p class="description" th:text="|*{firstName} *{lastName}|"></p>
                        <p class="description" th:text="|email: *{email}|"></p>
                    </div>
                </div>
                <hr>
            </li>
        </ul>
    </div>
</main>
</body>
</html>