<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" th:src="@{/myScript.js}"></script>
</head>
<body>
    <main class="content" layout:fragment="content">
        <div class="container col-6">
            <h1>Zmiana hasła</h1>
            <form th:action="@{/user/changePassword}" method="post" onsubmit="return checkPasswords(this)">
                <div class="mb-3">
                    <label for="current-password" class="form-label">Obecne hasło</label>
                    <input type="password" class="form-control" id="current-password" th:name="oldPassword">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Nowe haslo</label>
                    <input type="password" class="form-control" id="password" th:name="newPassword">
                    <div id="password-information" class="error"></div>
                </div>
                <div class="mb-3">
                    <label for="repeated-password" class="form-label">Powtórz Hasło</label>
                    <input type="password" class="form-control" id="repeated-password" name="repeatedPassword">
                    <div id="repeated-password-information" class="error"></div>
                </div>
                <button type="submit" class="btn btn-dark px-3">Zmien hasło</button>
            </form>
        </div>
    </main>
</body>
</html>