<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <main class="content" layout:fragment="content">


        <div class="container col-6">
            <div class="alert alert-success" role="alert" th:if="${feedback =='success'}">Utworzono nowe konto!</div>
            <div class="alert alert-danger" role="alert" th:if="${feedback =='fail'}">Nie udalo sie utworzyc konta</div>
            <h1>Logowanie</h1>
            <p th:if="${error == true}" class="error">Niepoprawne dane logowania</p>
            <form th:action="@{/login}" method="post">
                <div class="mb-3">
                    <label for="login" class="form-label">Nazwa użytkownika</label>
                    <input type="text" class="form-control" id="login" name="username">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Hasło</label>
                    <input type="password" class="form-control" id="password" name="password">
                </div>
                <button type="submit" class="btn btn-dark px-3">Zaloguj</button>
            </form>
            </br>
            <p>Nie masz konta? Utwórz je!</p>
            <a th:href="@{/register}" class="details-link">Utwórz konto</a>
        </div>
    </main>
</body>
</html>