<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<main class="content" layout:fragment="content">
    <div class="container">
        <div class="row m-3" th:object="${movieToDisplay}">
            <div style="font-size: 20px; color: #f50e0e"><i class="fas fa-wrench"></i> Widok edycji</div>
            <h2 th:text="|*{title} (*{premiereDate.getYear()})|"></h2>
            <div class="col-4">
                <img class="movie-image" th:src="@{|/${movieToDisplay.posterImagePath}|}">
            </div>
            <div class="col-8">
                <a th:href="@{|/movies/rate?id=*{id}&rate=1|}" style="color: black">
                    <i class="fas fa-star-h fa-star" th:with="isGreater = ${movieToDisplay.averageRate &gt; 0.5}" th:classappend="${isGreater ? 'checked' : ''}"></i>
                </a>
                <a th:href="@{|/movies/rate?id=*{id}&rate=2|}" style="color: black">
                    <i class="fas fa-star-h fa-star" th:with="isGreater = ${movieToDisplay.averageRate &gt; 1.5}" th:classappend="${isGreater ? 'checked' : ''}"></i>
                </a>
                <a th:href="@{|/movies/rate?id=*{id}&rate=3|}" style="color: black">
                    <i class="fas fa-star-h fa-star" th:with="isGreater = ${movieToDisplay.averageRate &gt; 2.5}" th:classappend="${isGreater ? 'checked' : ''}"></i>
                </a>
                <a th:href="@{|/movies/rate?id=*{id}&rate=4|}" style="color: black">
                    <i class="fas fa-star-h fa-star" th:with="isGreater = ${movieToDisplay.averageRate &gt; 3.5}" th:classappend="${isGreater ? 'checked' : ''}"></i>
                </a>
                <a th:href="@{|/movies/rate?id=*{id}&rate=5|}" style="color: black">
                    <i class="fas fa-star-h fa-star" th:with="isGreater = ${movieToDisplay.averageRate &gt; 4.5}" th:classappend="${isGreater ? 'checked' : ''}"></i>
                </a>
                <p class="description" th:text="*{description}"></p>
                <span class="description" th:each="genre, iterateStat:${movieToDisplay.genres}" th:text="!${iterateStat.last} ? ${genre.name} + ', ' : ${genre.name}"></span>
                </br>
                <p class="description" th:text="|Reżyseria: ${movieToDisplay.getDirectorName()}|"></p>
                <p class="description" th:text="|Data premiery: *{premiereDate}|"></p>
                <span th:if="${movieToDisplay.averageRate!=null}">
                        <p class="description" th:text="|Srednia ocen: *{averageRate}|"></p>
                        <p class="description" th:text="|Ilosc ocen: *{numberOfRates}|"></p>
                    </span>
                <p><a class="details-link" th:href = "@{|/movies/*{id}/edit/editDetails|}"><i class="fas fa-wrench"></i> Dodwanie / Edycja szczegółów</a></p>
                <p><a class="details-link" th:href = "@{|/movies/movie?id=*{id}|}"><i class="far fa-arrow-alt-circle-left"></i> Powrót</a></p>
                <p><a class="details-link" th:href = "@{|/movies/*{id}/remove|}"><i class="fas fa-trash-alt"></i> Usuń</a></p>
            </div>
        </div>

        <div class="row">
            <div class="cast-header col-12">
                <h2> OBSADA </h2>
            </div>
            <div class="col-12 edit-link">
                <a class="details-link" th:href="@{|/movie/${movieToDisplay.id}/role/add|}">
                    Dodaj role <i class="fas fa-plus"></i>
                </a>
            </div>
            <ul>
                <li th:each="role:${roles}">
                    <div class="col-4 mt-5 cast">
                        <p class="actor" th:text="|${role.getPerson().getFirstName()} ${role.getPerson().getLastName()}|"></p>
                        <p> jako </p>
                        <p th:text="${role.name}"></p>
                        <hr>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</main>
</body>
</html>