<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <main class="content" layout:fragment="content">
<!--        <form th:method="post" th:action="${action} == 'add' ? @{/movies/add} : @{/update}" th:object="${movie}" name="add new movie">-->
        <form th:method="post" th:action="@{/person/add}" th:object="${person}" name="add new person">
            <div class="d-flex justify-content-center mt-5">
                <div class="col-10 col-md-5 mt-5">
                    <div class="m-3" th:if="${editmode == true}">
                        <label for="id" class="form-label">ID</label>
                        <input type = text th:field="*{id}" id="id" class="form-control" readonly>
                    </div>
                    <div class="m-3">
                        <label for="first_name" class="form-label">Imię</label>
                        <input id ="first_name" type="text" class="form-control" th:field="*{firstName}">
                    </div>
                    <div class="m-3">
                        <label for="last_name" class="form-label">Nazwisko</label>
                        <input id ="last_name" type="text" class="form-control" th:field="*{lastName}">
                    </div>
                    <div class="m-3">
                        <label for="country" class="form-label">Kraj pochodzenia</label>
                        <input id ="country" type="text" class="form-control" th:field="*{country}">
                    </div>
                    <div class="m-3">
                        <label for="birth_date" class="form-label">Data urodzenia</label>
                        <input class="form-control" type="date" id="birth_date" th:field="*{birthDate}">
                    </div>
                    <div class="m-3">
                        <label for="height" class="form-label">Wzrost</label>
                        <input class="form-control" type="number" id="height" th:field="*{height}">
                    </div>
                    <div class="m-3">
                        <label for="gender" class="form-label">Płeć</label>
                        <select id = "gender" th:field="*{gender}">
                            <option th:each="gender:${genders}" th:value="${gender}" th:text="${gender.name}"></option>
                        </select>
                    </div>

                    <div class="m-3" th:unless="${editmode==true}">
                        <button type="submit" class="btn btn-dark px-3" id="form-button1">Dodaj osobę</button>
                    </div>
                    <div class="m-3" th:if="${editmode==true}">
                        <button type="submit" class="btn btn-dark px-3" id="form-button2">Zaaktualizuj osobę</button>
                    </div>
                </div>
            </div>
        </form>
    </main>
</body>
</html>