<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<main class="content" layout:fragment="content">
    <div class="submenu">
        <ul>
            <li th:each="function:${functions}">
                <a th:href="@{|/persons/function?functionType=${function.name}|}" th:text="${function.name}"></a>
            </li>
        </ul>
    </div>
    <div class="container">
        <ul>
            <li th:each="person:${persons}" th:object="${person}">
                <h2 class = "showtracker-title" th:text="|*{firstName} *{lastName}|"></h2>
                <ul class="description" style="display: flex; font-size: 20px;">
                    <li style="margin-right: 6px; font-style: italic;" th:each="f:${person.functions()}">
                        <p th:text="|${f.name}|"></p>
                    </li>
                </ul>
                <div class="row m-3">
                    <div class="col-8">
                        <p class="description" th:text="|Data urodzenia: *{birthDate}|"></p>
                        <p class="description" th:text="|Płeć: *{gender.name}|"></p>
                        <p class="description" th:text="|Kraj: *{country}|"></p>
                        <p class="description" th:text="|Wzrost: *{height}|"></p>
                    </div>
                </div>
                <hr>
            </li>
        </ul>
    </div>
</main>
</body>
</html>